body {
	background: black;
}

#home-container {
	position: absolute;
	top: 0px;
	left: 10.2%;
	width: 1280px;
	height: 960px;
	background: purple;
	color: white;
}

#login-div {
	position: absolute;
	top: 2%;
	right: 10%;
	height: 80px;
}

#login-username {
	position: absolute;
	top: 20px;
	right: 290px;
	color: blue;
}

#login-password {
	position: absolute;
	top: 20px;
	right: 100px;
	color: blue;
}

#login-submit {
	position: absolute;
	top: 20px;
	right: 30px;
	color: blue;
}

#home-prompt-1 {
	position: absolute;
	top: 18%;
	left: 17%;
	font-size: 40px;
	font-weight: lighter;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#home-prompt-2 {
	position: absolute;
	top: 26%;
	left: 20%;
	font-size: 40px;
	font-weight: lighter;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#left-column {
	position: absolute;
	top: 0px;
	left: 0px;
	background: black;
	height: 100%;
	width: 10.1%;
}

#search-submit {
	position: absolute;
	top: 36%;
	left: 34%;
	color:white;
	background-color: #363435;
	height: 50px;
	width: 150px;
	font-size: 18px;
	border-radius: 10px;
	border: none;
	opacity: 0.8;
}

#search-submit-shadow {
	position: absolute;
	top: 36%;
	left: 34%;
	color:white;
	background-color: #363435;
	height: 50px;
	width: 150px;
	font-size: 18px;
	border-radius: 10px;
	border: none;
	opacity: 0;
	z-index:2;
}

#menu-search {
	position: absolute;
	top: 8%;
	left: 6%;
}