body {
	background: black;
	font-family: 'Raleway', sans-serif;
}

#home-container {
	position: absolute;
	top: 0px;
	left: 10.2%;
	width: 1280px;
	height: 960px;
	background: purple;
	color: white;
}

#login-div {

	top: 2%;
	right: 10%;
	height: 80px;
}

#user-icon {
	position: relative;
	top: 10px;
	left: 70px;
	height: 70px;
	width: 70px;
	margin: 10px;
	margin-bottom: 50px;
}

#results-display-header {
	font-weight: bolder;
}

#login-password {

	top: 20px;
	right: 100px;
	color: blue;
}

#login-submit {

	top: 20px;
	right: 30px;
	color: blue;
}

#home-prompt-1 {
	position: absolute;
	top: 18%;
	left: 17%;
	font-size: 40px;
	font-weight: lighter;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#home-prompt-2 {
	position: absolute;
	top: 26%;
	left: 20%;
	font-size: 40px;
	font-weight: lighter;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#left-column {
	position: absolute;
	top: 0px;
	left: 0px;
	background: black;
	height: 100%;
	width: 10.1%;
}

#search-submit {
	position: absolute;
	top: 36%;
	left: 34%;
	color:white;
	background-color: #363435;
	height: 50px;
	width: 150px;
	font-size: 18px;
	border-radius: 10px;
	border: none;
	opacity: 0.8;
}

#search-submit-shadow {
	position: absolute;
	top: 36%;
	left: 34%;
	color:white;
	background-color: #363435;
	height: 50px;
	width: 150px;
	font-size: 18px;
	border-radius: 10px;
	border: none;
	opacity: 0;
	z-index:2;
	overflow: hidden;
}

#menu-search {
	position: absolute;
	top: 25%;
	left: 7%;
	width: 240px;
}

#user {

	top: 8%;
	left: 6%;
}

#calories-consumed {
	position: relative;
}

#results-display {
	border: 1px solid white;
}

#user {
	background: black;
}

#filter-search {

	top: 20%;
	right: 50%;
}

#filter-container {

	visibility: hidden;
	top: 42%;
	left: 10%;
	padding: 10px;
}

#filter-Restaurants {
	margin-top: 10px;
	cursor: pointer;
}

#selected-Restaurants {
	margin-top: 10px;

	cursor: pointer;
}

.selected-Filters {

	left: 10px;
	margin: 10px;
	cursor: pointer;
}

.green-plus {
	height:20px;
	width: 20px;

	top: 4px;
	left: 4px;
}

.red-minus {
	height:20px;
	width: 20px;

	top: 4px;
	left: 4px;
	margin-left: 4px;
}

#menu-search-submit {

	top: 160px;
	left: 80px;
    border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block;
    cursor: pointer;
    color: #4B494A;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 24px;
	text-shadow: #4B494A;
	opacity: 1.0;
}